<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>423515738557-tl39n43afp6avenplubekt8u5ier6029.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423515738557-tl39n43afp6avenplubekt8u5ier6029</string>
	<key>API_KEY</key>
	<string>AIzaSyC2udwIfH31KOGc4htS3789uuYGs97JETs</string>
	<key>GCM_SENDER_ID</key>
	<string>423515738557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HappySquare.PongPing</string>
	<key>PROJECT_ID</key>
	<string>palmpong-ec3d7</string>
	<key>STORAGE_BUCKET</key>
	<string>palmpong-ec3d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423515738557:ios:228b32cb1178138f</string>
	<key>DATABASE_URL</key>
	<string>https://palmpong-ec3d7.firebaseio.com</string>
</dict>
</plist>